body{
    margin: 0px;
}
.base{
    width: 600px;
    height: 600px;
    background-color:darkolivegreen;
    border-radius: 5%;
    margin-left: 30%;
    margin-top: 10%;
}
.img{
    width: 600px;
    height: 600px;
}
.b{
    margin-top: 20px;
    position: absolute;
    width: 100px;
    height: 100px;
}
.w{
    margin-top: 100px;
    margin-left: 370px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: whitecoin 2s ease-out 3s  forwards;
}
.r{
    margin-top: 242px;
    margin-left: 246px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: redcoin 1.8s ease-out 1.5s  forwards ;
}
.s{
    margin-top: 190px;
    margin-left: 87px;
    position: absolute;
    width: 90px;
    height: 90px;
    animation: striker 2s ease-out 1s  forwards;
    ;
}

@keyframes spaused{
    100%{
        display: paused;
    }
}
@keyframes striker{
    0%{
        margin-left: 250px;
        margin-left: 80px;
    }
    29%{
        margin-top: 225px;
        margin-left: 233px;
    }
    100%{
        margin-top: 136px;
        margin-left: 348px;
    }
}
/* @keyframes striker2{
    0%{
        margin-left: 250px;
        margin-left: 80px;
    }
    100%{
        margin-top: 222px;
        margin-left: 230px;
    }
} */
@keyframes redcoin{
    0%{
        margin-top: 242px;
        margin-left: 246px;
    }
    99%{
        margin-top: 480px;
        margin-left: 470px;
    }
    100%{
        display: none;
    }
}
@keyframes whitecoin{
    0%{
        margin-top: 100px;
        margin-left: 370px;
    }
    99%{
        margin-top: 22px;
        margin-left: 470px;
    }
    100%{
        display: none;
    }
}